* {
    // font-family: 'Coda Caption', sans-serif;
    // font-family: 'Norican', cursive;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-image: url("/img/sport/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    nav {
        font-family: 'Norican', cursive;
        background-color: rgba(0, 0, 0, 0.432);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        div {
            width: 20%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            color: white;

            p {
                font-family: 'Norican', cursive;
                font-size: 30px;
            }

            img {
                height: 30px;
            }
        }
    }

    .promo_header {
        background-color: rgba(255, 255, 255, 0.274);
        text-align: center;

        p {
            font-family: 'Coda Caption', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 30px;
        }

        span {
            color: white;
            font-family: 'Coda Caption', sans-serif;
        }
    }

    section {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: orange;
            font-family: 'Coda Caption', sans-serif;
            font-size: 55px;
            text-shadow: 0px 0px 8px #000000;

            span {
                transform: translateY(-57%);
                font-family: 'Norican', cursive;
                color: white;
                font-weight: normal;
            }
        }
    }
}

main {
    background-color: #00859c;
    display: flex;
    flex-direction: column;


    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 75px;
        padding-right: 75px;
        color: white;

        h2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: orange;
            font-family: 'Coda Caption', sans-serif;
            font-size: 55px;
            text-shadow: 0px 0px 8px #000000;
            margin-top: 50px;

            span {
                transform: translateY(-57%);
                font-family: 'Norican', cursive;
                color: white;
                font-weight: normal;
            }
        }

        table {
            border-spacing: 0;
            width: 100%;
            margin-bottom: 50px;


            td {
                padding: 5px;
            }

            thead {
                background: rgb(0, 0, 0);
                background: linear-gradient(43deg, rgba(0, 0, 0, 1) 0%, rgba(0, 36, 42, 1) 19%, rgba(0, 88, 103, 1) 53%, rgba(0, 133, 156, 1) 100%);

                th {
                    border: black solid 2px;
                    color: orange;
                    font-family: 'Norican', cursive;
                    height: 40px;
                    padding: 5px;
                    text-align: start;
                    font-size: 23px;
                    padding: 10px;
                }
            }

            tbody {

                tr {
                    height: 50px;
                }

                .date_table_blue {
                    background-color: #006577;
                }

                .date_table_white {
                    background-color: white;
                    color: black;
                }

                .resrver_table_yellow {
                    background-color: orange;
                    border: black solid 2px;
                    border-top: none;
                    text-align: center;
                }
            }
        }
    }


    .formulaire_container {
        background: rgb(0, 0, 0);
        background: linear-gradient(43deg, rgba(0, 0, 0, 1) 0%, rgba(0, 36, 42, 1) 19%, rgba(0, 88, 103, 1) 53%, rgba(0, 133, 156, 1) 100%);
        padding-bottom: 100px;

        form {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        fieldset {
            border-color: orange;
            width: 90%;
            padding: 25px;
            display: flex;
            justify-content: space-around;

            legend {
                text-align: center;
                font-weight: bold;
                font-size: 1.3em;
            }

            input {
                background-color: transparent;
                border: none;
                border-bottom: 2px orange solid;
                color: white;
            }

            input:focus {
                outline: none;
            }

            .checkbox {
                width: auto;
            }

            select {
                width: 100%;
                padding: 10px;
            }

        }

        .programme {
            justify-content: center;

            div {
                margin-left: 15px;
            }
        }

        .submit_btn {
            background-color: orange;
            color: white;
            padding: 10px 23px;
            border: none;
            margin-top: 25px;
        }
    }
}

footer {
    background-color: white;
    height: 150px;
}